.app-header {
    background-color: var(--clr1);
    color: var(--gray3);
    padding: 1em;
    display: flex;
    justify-content: space-between; /* Align items horizontally with space in between */
    align-items: center; /* Center items vertically */
}

.app-nav {
    display: flex;
    gap: 15px;
}

/* Responsive styles for screens with a maximum width of 720px */
@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg);
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
        padding-bottom: 1em; /* Add some padding at the bottom for better spacing */
    }

    .app-nav {
        margin-top: 1em; /* Add margin to separate navigation links */
    }
}
