button {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.7em 1.2em; /* Adjusted padding for better button size */
    border-radius: 6px; /* Increased border-radius for a softer look */
    color: #fff; /* Set text color to white by default */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

button:hover {
    background-color: var(--clr2);
}

input:focus {
    background-color: var(--clr1bg);
    outline: none; /* Removed default focus outline */
    transition: background-color 0.3s ease-in-out;
}
