#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem; /* Increased padding for better spacing */
    text-align: center;
}

.logo {
    height: 8em; /* Increased logo height for better visibility */
    padding: 1.5em;
    will-change: transform, filter; /* Include transform for animation */
    transition: filter 300ms, transform 300ms; /* Added transform transition */
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    transform: scale(1.1); /* Slightly scale up on hover */
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.toyd {
    padding: 2em;
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.read-the-docs {
    color: #555; /* Darker gray for better contrast */
}
